<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionnaire de Cave à Vin</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<nav>
    <div id="navigation">
        <a href="">Accueil</a>
        <a href="{{ url_for('cave') }}">Cave</a>
        <a href="{{ url_for('bouteille') }}">Mes Bouteille</a>
        <a href="{{ url_for('modele_vin') }}">Modèle de Vin</a>
        <a href="{{ url_for('authentification') }}">S'authentifier</a>
    </div>
</nav>
<body>

    <h1>bouteille !</h1>

</body>
</html>