<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionnaire de Cave à Vin</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<nav>
    <div id="navigation">
        <a href="">Accueil</a>
        <a href="{{ url_for('cave') }}">Mes Bouteille</a>
        <a href="{{ url_for('vin') }}">Modèle de Vin</a>
        <a href="{{ url_for('login') }}">S'authentifier</a>
        <a href="{{ url_for('logout') }}">logout</a>
    </div>
</nav>
<body>

    <h1>Ma_cave</h1>
    <a href="/ajouter_bouteille">
        <button>ajouter une bouteille</button>
    </a>
    <a href="/supprimer_etagere">
        <button>supprimer une étagère</button>
    </a>
    <a href="/ajouter_etagere">
        <button>Ajouter une étagère</button>
    </a>
{% for etagere in Etagere %}
    <div>
        <a href="{{ url_for('etagere_details', nom_etagere=etagere[4]) }}">
            <button>{{ etagere[4] }}</button>
        </a>
    </div>
{% endfor %}
</body>
</html>