<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionnaire de Cave à Vin</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="navigation">
        <a href="">Accueil</a>
        <a href="{{ url_for('cave') }}">Cave</a>
        <a href="{{ url_for('bouteille') }}">Mes Bouteille</a>
        <a href="{{ url_for('vin') }}">Modèle de Vin</a>
        <a href="{{ url_for('login') }}">S'authentifier</a>
        <a href="{{ url_for('logout') }}">logout</a>
    </div>
    <h1>Gestionnaire de Cave à Vin test</h1>
</body>
</html>

