<!DOCTYPE html>
<html>
<head>
    <title>Liste des Vins</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<nav>
    <div id="navigation">
        <a href="">Accueil</a>
        <a href="{{ url_for('cave') }}">Ma Cave</a>
        <a href="{{ url_for('vin') }}">Modèle de Vin</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</nav>
<body>
    <h1>Liste des Vins</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Domaine</th>
                <th>Type</th>
                <th>Année</th>
                <th>Région</th>
                <th>Commentaire</th>
                <th>Prix</th>
                <th>Note communauté</th>
            </tr>
        </thead>
        <tbody>
            {% for vin in vins %}
                <tr>
                    <td>{{ vin[1] }}</td>
                    <td>{{ vin[2] }}</td>
                    <td>{{ vin[3] }}</td>
                    <td>{{ vin[4] }}</td>
                    <td>{{ vin[5] }}</td>
                    <td>{{ vin[6] }}</td>
                    <td>{{ vin[7] }}</td>
                    <td>{{ vin[8] }}</td>
                    <td>
                        <a href="{{ url_for('ajouter_bouteille_by_vin', id_vin=vin[0], nom_vin=vin[1], domaine=vin[2], type=vin[3], annee=vin[4], region=vin[5], 
                        commentaire=vin[6], prix=vin[7], note_commu=vin[8]) }}">
                            <button>Ajouter à la cave</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>