<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<nav>
    <div id="navigation">
        <a href="">Accueil</a>
        <a href="{{ url_for('cave') }}">Ma Cave</a>
        <a href="{{ url_for('vin') }}">Modèle de Vin</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</nav>
<body>
    <h2>Connexion</h2>
    <form action="/login" method="post">
        <label for="username">Nom d'utilisateur:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Mot de passe:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Se connecter">
    </form>
    <a href="/create_user">
        <button type="button">Créer un compte</button>
    </a>
</body>
</html>


