<!DOCTYPE html>
<html>
<head>
    <title>Supprimer une étagère</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<nav>
    <div id="navigation">
        <a href="">Accueil</a>
        <a href="{{ url_for('cave') }}">Mes Bouteille</a>
        <a href="{{ url_for('vin') }}">Modèle de Vin</a>
        <a href="{{ url_for('login') }}">S'authentifier</a>
        <a href="{{ url_for('logout') }}">logout</a>
    </div>
</nav>
<body>
    <h1>Supprimer une étagère</h1>
    <form action=/supprimer_etagere method="POST">
        <label for="nom_etagere">Nom de l'étagère :</label>
        <input type="text" id="nom_etagere" name="nom_etagere" required>
        <button type="submit">Supprimer l'étagère</button>
    </form>
</html>
```
